In [ ]:
introduction to slicing of list:

In [2]:
students = ['ravali','bhavani','aleem','raj','tansuri','shwetha']

In [3]:
print(students)

['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']

In [4]:
type(students)

list

In [ ]:
Req:to have group of 2 students each...!

In [ ]:
how to access the element in the list...?--->tansuri name of the students

In [5]:
print(students[4])

tansuri

In [6]:
print(students[0:1])

['ravali']

In [ ]:
#Last value is always exclusive...!

In [7]:
print(students[0:2]) # it will be excluding the last value..

['ravali', 'bhavani']

In [8]:
print(students[2:4])

['aleem', 'raj']

In [9]:
print(students[4:6]) #General accepted solution

['tansuri', 'shwetha']

In [10]:
print(students[4:]) #the last positions only....!

['tansuri', 'shwetha']

In [ ]:
General syntax of slicing:

     startpoint:endpoint:stepcount ***

In [11]:
print(students)

['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']

In [ ]:
req: to get every alternative name in the output

In [12]:
print(students[0:5:2]) #Every alternative name in the given list..

['ravali', 'aleem', 'tansuri']

In [ ]:
+ve indexing ----> 0,1,2.......

In [ ]:
intoduction to -ve indexing:

In [ ]:
-1,-2,-3.......

In [13]:
print(students)

['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']

In [ ]:
Req: wanted to access the last element in the list...!

In [14]:
print(students[5])

shwetha

In [15]:
print(students[-1])

shwetha

In [ ]:
print the list in a reverse order by using the slicing concept....?

In [16]:
print(students)

['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']

In [17]:
print(students[: :-1])

['shwetha', 'tansuri', 'raj', 'aleem', 'bhavani', 'ravali']

In [ ]:
startingpoint:endingpoint:stepcount

In [ ]:
 : :-1 ====> reverse order it needs to consider!

In [ ]:
understanding the range function:

In [ ]:
Req:---> i want to print numbers till 30 #last value is always exclusive

In [ ]:
for value in range(0,31) :
    print(value) #temp variables..!

In [18]:
for value in range(0,30) :
    print(value) #temp variables..!

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [19]:
for value in range(0,31) :
    print(value) #temp variables..!

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
range function

strat value, stop value, stepcount

In [ ]:
Req:  to have a list of 30 numbers

In [20]:
numbers = list (range(0,31))

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
req: to print only even numbers till 30..****

In [21]:
even_numbers = list(range(0,31,2))

In [22]:
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
********.PRACTISE TASK ************

In [ ]:
how do you print odd numbers till 50 using the range function..

In [24]:
odd_numbers=list(range(1,51,2))

In [25]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]